body {
    color: #d9d9d9;
    background-color: #212121;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    line-height: 1.23536;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    text-rendering: optimizeLegibility;
}

main {
    margin: 0 5px 0 5px;
}

a {
    color: #3282d1;
    text-decoration: none;
    text-shadow: #000 0 0 3px;
}

h3 a {
    color: #00CED1;
}

a:hover {
    color: #9CD7F7;
}

section {
    background-color: #061f2f;
    box-shadow: 0 1px 3px 0 #000;
    margin: 0 0 10px 0;
    padding: 1px 5px 10px 5px;
}

code, dl, pre {
    background-color: #0a121b;
    padding: 10px;
    margin: 10px 10px 0 10px;
    font-size: 14px;
    font-family: "Fira Code", Consolas, "Courier New", monospace;
}

@supports (font-variation-settings: normal) {
    code, dl, pre {
        font-family: "Fira Code VF", Consolas, "Courier New", monospace;
    }
}

code {
    display: block;
    overflow: scroll;
    white-space: nowrap;
}

pre {
    overflow: scroll;
}

li {
    margin-bottom: 3px;
}

li ul {
    margin-top: 3px;
}

.logo {
    display: block;
    width: 100%;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
}

.avatar {
    height: 1.5em;
    vertical-align: bottom;
    display: inline-block;
}

footer {
    text-align: center;
    margin-bottom: 10px;
}
